:root {
    --main-darklg: #4f57c0;
    --main-dark: #50569e;
    --primary-color: #7c83eb;
    --main-light: #eeeeee;
    font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    position: relative;
    width: 100%;
    background-color: #4f57c0;
}

.logo>h3 {
    color: var(--main-light);
}

.main {
    overflow: hidden;
    height: 92vh;
    display: flex;
}

.main__left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.videos__group {
    flex-grow: 1;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #000206;
}

video {
    height: 200px;
    border-radius: 1rem;
    margin: 0.5rem;
    width: 30%;
    object-fit: cover;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.options {
    padding: 1rem;
    display: flex;
    background-color: var(--main-darklg);
    justify-content: center;
}

.options__left {
    display: flex;
}

.options__right {
    display: flex;
}

.chatCloseButton {
    display: flex;
    justify-content: center;
    float: right;
    align-items: right;
    height: auto;
    color: white;
    font-size: 1.2rem;
    width: auto;
    margin: 0 0.5rem;
    padding: 3px;
}

.chatCloseButton:hover {
    color: #7c83eb;
}

.MSlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4f57c0;
    height: 30%;
    color: var(--main-light);
    font-size: 1.2rem;
    width: 100%;
}

.options__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    height: 50px;
    border-radius: 100px;
    color: var(--main-light);
    font-size: 1.2rem;
    width: 50px;
    margin: 0 0.5rem;
}

.options__button:hover {
    background-color: #383e6e;
}

.background__red {
    background-color: #f6484a;
}

.main__right {
    display: none;
    flex-direction: column;
    flex: 0.1;
    background-color: #383e6e;
}

.main__chat_window {
    flex-grow: 1;
    overflow-y: scroll;
}

.main__chat_window::-webkit-scrollbar {
    display: none;
}

.main__message_container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__message_container>input {
    height: 50px;
    flex: 1;
    font-size: 1rem;
    border-radius: 5px;
    padding-left: 20px;
    border: none;
}

.messages {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}

.message {
    display: flex;
    flex-direction: column;
}

.message>b {
    color: #eeeeee;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.message>b>i {
    margin-right: 0.7rem;
    font-size: 1.5rem;
}

.message>span {
    background-color: #a6a7dc;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

#video-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#showChat {
    display: flex;
}

.header__back {
    display: none;
    position: absolute;
    font-size: 1.3rem;
    top: 17px;
    left: 28px;
    color: #fff;
}

@media (max-width: 700px) {
    .main__right {
        display: none;
    }
    .main__left {
        width: 100%;
        flex: 1;
    }
    video {
        height: 200px;
        width: 30%;
        position: relative;
    }
    #showChat {
        display: flex;
    }
}